body {
    background-color: black;
    color: white;
}

.intro {
    min-height: 200px;
    text-align: center;
    background-color: #2A2828;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box1 {
  /* background-color: blue; */
  font-size: 10rem;
}

.box1 h1 {
  font-size: 10rem;
}

.box2 {
  /* background-color: red; */
}
.box2 h2 {
  /* background-color: red; */
  font-size: 6rem;
}


.box3 {
  /* background-color: green; */
}







@media all and (min-width:960px) and (max-width: 1024px) {
    /* put your css styles in here */   
    #widthTest {
        color:red;

    }
  }
  
  @media all and (min-width:801px) and (max-width: 959px) {
    /* put your css styles in here */
  }
  
  @media all and (min-width:769px) and (max-width: 800px) {
    /* put your css styles in here */
  }
  
  @media all and (min-width:569px) and (max-width: 768px) {
    /* put your css styles in here */
  }
  
  @media all and (min-width:481px) and (max-width: 568px) {
    /* put your css styles in here */
  }
  
  @media all and (min-width:321px) and (max-width: 480px) {
    /* put your css styles in here */
  }
  
  @media all and (min-width:0px) and (max-width: 320px) {
    /* put your css styles in here */
  }