body {
  background-color: black;
  color: white;

}

/* Intro Section */

.intro {
  height: 600px;
  /* align-items: stretch; */
  text-align: center;
  background-color: #2A2828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:30px;
  padding: 50px 50px 100px 50px;
  
}


.box1 {
  /* background-color: blue;  */
  margin: 20px;
}

.box1 h1 {
  font-size: 8rem;
}

.box2 {
  /* background-color: red;  */
  margin: 20px;
}
.box2 h2 {

  font-size: 4rem;
  
}

.box3 {
   /* background-color: green;  */
   margin: 20px;
}

.box4 {
  /* background-color: green;  */
  margin: 20px;
}

/* About Section */

.about {
  background-color: #2A2828;
 
  margin:30px;
  padding: 50px 50px 100px 50px;
}

.aboutContentContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap:1rem;
}

.aboutHeading {
  /* background-color: red; */
}

.aboutInfo {
  /* background-color: blue; */
  padding: 10px;
}

.aboutImage {
  /* background-color: green; */
}

/* Project Section  */
.project {
  background-color: #2a2828;
 
  margin:30px;
  padding: 50px 50px 100px 50px;
}

.projectContentContainer {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-evenly; */
  gap:1rem;
}

.projectHeading {
  
}

.projectInfo table tr td, table tr th{
  background-color: #2a2828 !important;
} 
 
  

/* Connect Four */
/* Home Page */
.board{
  margin-top: 100px;

}

.row {
  display: flex;
  flex-direction: row; 
  gap:3rem;
  margin: 25px;
  justify-content: center;

}

.token {
  
  height: 70px;
  width: 70px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: inline-block;

}







/* Responsiveness */

    
  @media only screen and (max-width: 600px) {
   
    

  }
  
  @media all and (min-width:960px) and (max-width: 1024px) {
    /* put your css styles in here */   
    
    html {
      font-size: 10px;
  } 
  }
  
  @media all and (min-width:801px) and (max-width: 959px) {
    /* put your css styles in here */

    html {
      font-size: 10px;
  } 
  }
  
  @media all and (min-width:701px) and (max-width: 800px) {
    /* put your css styles in here */

    html {
      font-size: 10px;
  } 
  }
  
  @media all and (max-width: 699px) {
    /* Intro Section */

    html {
      font-size: 8px;
    } 

    .intro {
      height: 750px;
    }

    .box1 span {
      display:block;
    }

    .box2 span {
      display:block;
    }

    /* Increase Button Size */
    .box4 a {
      padding: 10px;
      font-size: 1.5rem;
    }

    .box5 a {
      padding: 10px;
      font-size: 1.5rem;
    }

    /*About Section */

    .about {
      text-align: center;
    }

    .aboutContentContainer {
      flex-direction: column;
    }
  }