body {
  background-color: black;
  color: white;

}

.intro {
  height: 600px;
  /* align-items: stretch; */
  text-align: center;
  background-color: #2A2828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:30px 25px 25px 25px;
  padding: 50px 50px 100px 50px;
  
}

.box1 {
  /* background-color: blue;  */
  margin: 20px;
}

.box1 h1 {
  font-size: 8rem;
}

.box2 {
  /* background-color: red;  */
  margin: 20px;
}
.box2 h2 {

  font-size: 4rem;
  
}


.box3 {
   /* background-color: green;  */
   margin: 20px;
}

.box4 {
  /* background-color: green;  */
  margin: 20px;
}







@media all and (min-width:960px) and (max-width: 1024px) {
    /* put your css styles in here */   
    #widthTest {
        color:red;
      
    }

    html {
      font-size: 10px;
  } 
  }
  
  @media all and (min-width:801px) and (max-width: 959px) {
    /* put your css styles in here */

    html {
      font-size: 10px;
  } 
  }
  
  @media all and (min-width:769px) and (max-width: 800px) {
    /* put your css styles in here */

    html {
      font-size: 10px;
  } 
  }
  
  @media all and (min-width:569px) and (max-width: 768px) {
    /* put your css styles in here */

    html {
      font-size: 8px;
  } 
  }
  
  @media all and (min-width:481px) and (max-width: 568px) {
    /* put your css styles in here */

    html {
      font-size: 5px;
  } 
  }
  
  @media all and (min-width:321px) and (max-width: 480px) {
    /* put your css styles in here */

    html {
      font-size: 5px;
  } 
  }
  
  @media all and (min-width:0px) and (max-width: 320px) {
    /* put your css styles in here */

    html {
      font-size: 5px;
  } 
  }